.container-grid {
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    height: 900px;
}

.square {
    background: pink;
    /* border: 2px solid black; */
}

.square-clicked {
    background: black;
}
